@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.verde{
    color: green;
}

.rojo{
    color: red;
}

.naranja{
    color: orange;
}

label{
    font-weight: bold;
    font-size: 20px;
    display: block;
    margin: 10px;
    text-align: center;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: linear-gradient(45deg, #8b0000, #00007c, #8b0000);
    background-size: 400% 400%;
    animation: cambiar 10s ease-in-out infinite;
}

.container{
    width: 530px;
    max-width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 45px 65px rgba(0,0,0,0.50), 0 35px 22px rgba(0,0,0,0.16);
    margin-top: 50px;
}

@keyframes cambiar {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%; 
    }
}
select{
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
    box-sizing: border-box;

}